{{> top title="Alias JS, multiple"}}

	<button type="button" class="array-done-multi">Load JS files (param as array)</button>
	<button type="button" class="array-done-multi-recache">Load JS files, no cache (param as array)</button>

	<button type="button" class="array-fail-multi">Load non-existent JS files (param as array)</button>
	<button type="button" class="array-fail-multi-recache">Load non-existent JS files, no cache (param as array)</button>

	<div class="sandbox"></div>

	<script>

		$('.array-done-multi').on('click', function () {

			$.kist.loader
				.loadScript(['assets/js/test-01.js','assets/js/test-02.js'])
				.done(function ( js1, js2 ) {
					console.log( 'Done' );
					console.log( arguments );
				})
				.fail(function ( js1, js2 ) {
					console.log( 'Fail' );
					console.log( arguments );
				});

		});

		$('.array-fail-multi').on('click', function () {

			$.kist.loader
				.loadScript(['assets/js/x.js','assets/js/y.js'])
				.done(function ( js1, js2 ) {
					console.log( 'Done' );
					console.log( arguments );
				})
				.fail(function ( js1, js2 ) {
					console.log( 'Fail' );
					console.log( arguments );
				});

		});

		$('.array-done-multi-recache').on('click', function () {

			$.kist.loader
				.loadScript({
					url: ['assets/js/test-01.js','assets/js/test-02.js'],
					cache: false
				})
				.done(function ( js1, js2 ) {
					console.log( 'Done' );
					console.log( arguments );
				})
				.fail(function ( js1, js2 ) {
					console.log( 'Fail' );
					console.log( arguments );
				});

		});

		$('.array-fail-multi-recache').on('click', function () {

			$.kist.loader
				.loadScript({
					url: ['assets/js/x.js','assets/js/y.js'],
					cache: false
				})
				.done(function ( js1, js2 ) {
					console.log( 'Done' );
					console.log( arguments );
				})
				.fail(function ( js1, js2 ) {
					console.log( 'Fail' );
					console.log( arguments );
				});

		});

	</script>

{{> bottom}}
