{{> top title="Callbacks text"}}

	<button type="button" class="array-done">Load text file, callback as argument (param as array)</button>
	<button type="button" class="array-done-optcb">Load text file, callback in object (param as array)</button>
	<button type="button" class="array-done-optargdfdcb">Load text file, callback in object, as argument and deferred (param as array)</button>

	<button type="button" class="array-done-recache">Load text file, no cache, callback as argument (param as array)</button>
	<button type="button" class="array-done-recache-optcb">Load text file, no cache, callback in object (param as array)</button>
	<button type="button" class="array-done-recache-optargdfdcb">Load text file, no cache, callback in object, as argument and deferred (param as array)</button>

	<button type="button" class="array-fail">Load non-existent text file, callback as argument (param as array)</button>
	<button type="button" class="array-fail-optcb">Load non-existent text file, callback in object (param as array)</button>
	<button type="button" class="array-fail-optargdfdcb">Load non-existent text file, callback in object and deferred (param as array)</button>

	<button type="button" class="array-fail-recache">Load non-existent text file, no cache, callback as argument (param as array)</button>
	<button type="button" class="array-fail-recache-optcb">Load non-existent text file, no cache, callback in object (param as array)</button>
	<button type="button" class="array-fail-recache-optargdfdcb">Load non-existent text file, no cache, callback in object and deferred (param as array)</button>

	<div class="sandbox"></div>

	<script>

		$('.array-done').on('click', function () {

			$.kist.loader
				.load(['assets/text/test-01.txt'], function ( txt ) {
					console.log( 'Done' );
					console.log( arguments );
					$('.sandbox').text(txt[0]);
				});

		});

		$('.array-done-optcb').on('click', function () {

			$.kist.loader
				.load({
					url: ['assets/text/test-01.txt'],
					success: function ( txt ) {
						console.log( 'Done' );
						console.log( arguments );
						$('.sandbox').text(txt[0]);
					}
				});

		});

		$('.array-done-optargdfdcb').on('click', function () {

			$.kist.loader
				.load({
					url: ['assets/text/test-01.txt'],
					success: function ( txt ) {
						console.log( 'Done' );
						console.log( arguments );
						$('.sandbox').text(txt[0]);
					}
				}, function ( txt ) {
					console.log( 'Done' );
					console.log( arguments );
				})
				.done(function ( txt ) {
					console.log( 'Done' );
					console.log( arguments );
					$('.sandbox').text(txt[0]);
				});

		});

		$('.array-done-recache').on('click', function () {

			$.kist.loader
				.load({
					url: ['assets/text/test-01.txt'],
					cache: false
				}, function ( txt ) {
					console.log( 'Done' );
					console.log( arguments );
					$('.sandbox').text(txt[0]);
				});

		});

		$('.array-done-recache-optcb').on('click', function () {

			$.kist.loader
				.load({
					url: ['assets/text/test-01.txt'],
					cache: false,
					success: function ( txt ) {
						console.log( 'Done' );
						console.log( arguments );
						$('.sandbox').text(txt[0]);
					}
				});

		});

		$('.array-done-recache-optargdfdcb').on('click', function () {

			$.kist.loader
				.load({
					url: ['assets/text/test-01.txt'],
					cache: false,
					success: function ( txt ) {
						console.log( 'Done' );
						console.log( arguments );
						$('.sandbox').text(txt[0]);
					}
				}, function ( txt ) {
					console.log( 'Done' );
					console.log( arguments );
					$('.sandbox').text(txt[0]);
				})
				.done(function ( txt ) {
					console.log( 'Done' );
					console.log( arguments );
					$('.sandbox').text(txt[0]);
				});

		});

		$('.array-fail').on('click', function () {

			$.kist.loader
				.load(['assets/text/x.txt'], function ( txt ) {
					console.log( 'Done' );
					console.log( arguments );
					$('.sandbox').text(txt[0]);
				})
				.fail(function ( txt ) {
					console.log( 'Fail' );
					console.log( arguments );
				});

		});

		$('.array-fail-optcb').on('click', function () {

			$.kist.loader
				.load({
					url: ['assets/text/x.txt'],
					success: function ( txt ) {
						console.log( 'Done' );
						console.log( arguments );
						$('.sandbox').text(txt[0]);
					},
					error: function ( txt ) {
						console.log( 'Fail' );
						console.log( arguments );
					}
				});

		});

		$('.array-fail-optargdfdcb').on('click', function () {

			$.kist.loader
				.load({
					url: ['assets/text/x.txt'],
					success: function ( txt ) {
						console.log( 'Done' );
						console.log( arguments );
						$('.sandbox').text(txt[0]);
					},
					error: function ( txt ) {
						console.log( 'Fail' );
						console.log( arguments );
					}
				})
				.fail(function ( txt ) {
					console.log( 'Fail' );
					console.log( arguments );
				});

		});

		$('.array-fail-recache').on('click', function () {

			$.kist.loader
				.load({
					url: ['assets/text/x.txt'],
					cache: false
				}, function ( txt ) {
					console.log( 'Done' );
					console.log( arguments );
					$('.sandbox').text(txt[0]);
				})
				.fail(function ( txt ) {
					console.log( 'Fail' );
					console.log( arguments );
				});

		});

		$('.array-fail-recache-optcb').on('click', function () {

			$.kist.loader
				.load({
					url: ['assets/text/x.txt'],
					cache: false,
					success: function ( txt ) {
						console.log( 'Done' );
						console.log( arguments );
						$('.sandbox').text(txt[0]);
					},
					error: function ( txt ) {
						console.log( 'Fail' );
						console.log( arguments );
					}
				});

		});

		$('.array-fail-recache-optargdfdcb').on('click', function () {

			$.kist.loader
				.load({
					url: ['assets/text/x.txt'],
					cache: false,
					success: function ( txt ) {
						console.log( 'Done' );
						console.log( arguments );
						$('.sandbox').text(txt[0]);
					},
					error: function ( txt ) {
						console.log( 'Fail' );
						console.log( arguments );
					}
				})
				.fail(function ( txt ) {
					console.log( 'Fail' );
					console.log( arguments );
				});

		});

	</script>

{{> bottom}}
